/* font from google */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared style */

* {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Work Sans", sans-serif;
}
.btn {
    margin-top: 20px;
}
.btn a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.p-btn {
    background: #ff42a5;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
}
.b-btn {
    background: #4ec5f7;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
}
.h-c {
    color: #0b0223;
}
.p-c {
    color: #534c64;
}
/* shared style end */

/* menu style start */
nav {
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 0.23);
    padding: 10px 0;
}
.navbar {
    display: flex;
    color: #0b0223;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    display: flex;
    gap: 5px;
    align-items: center;
}
.logo-container img {
    width: 70px;
}
.logo-title {
    font-size: 2rem;
}
.l-g {
    color: #f948b2;
}
nav ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 20px;
}
nav li a {
    text-decoration: none;
    font-weight: 600;
    color: #3c354f;
}

.nav-btn {
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
}

/* menu style end */

/*  banner style start */
.banner-content {
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 50%;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.banner img {
    width: 400px;
}
.banner-title h1 {
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-title h2 {
    font-size: 2rem;
}
.banner-title p {
    color: #534c64;
    padding: 5px 0;
}

/*  banner style end */

/*  online video style start  */
.online-content {
    width: 80%;
    margin: auto;
}
.online-title {
    text-align: center;
    padding: 30px 0;
}
.online-title h1 {
    font-size: 2.5rem;
    padding-bottom: 10px;
    font-weight: 800;
}
.four-img {
    display: flex;
    gap: 8px;
    justify-content: space-around;
}

.four-img img {
    width: 250px;
}
.four-img-p {
    margin-top: 10px;
    width: 220px;
}
.online-h1 {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ---- images hover style start---- */
.container {
    position: relative;
    width: 245px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    border: 3px solid #f948b2;
    border-radius: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 289px;
    width: 245px;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #00000096;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.watch-now{
    color: #f948b2;
    font-size: 0.8rem;
    font-weight: 600;
}

/* ---- images hover style end---- */

/*  online video style end  */

/* ========================= */

/* Mobile devices responsive */

@media screen and (max-width: 425px) {
    /* nav menu bar responsive start */
    nav {
        box-shadow: none;
    }
    .navbar {
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    /* nav menu bar responsive end */

    /* banner responsive start */
    .banner {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-content {
        background-position: center bottom;
        background-size: 400px 280px;
    }
    /*  banner responsive end */

    /* online section style start */
    .four-img {
       flex-direction: column;
       gap: 20px;
    }
    .online-title h1 {
        font-size: 1.4rem;
        font-weight: 800;
    }
    .four-img {
        width: 76%;
        margin: auto;
    }
    .online-title p{
        padding: 0 5px;
    }
    /* online section style end */
}

/* ========================= */

/* Tablet devices responsive */

@media screen and (min-width: 426px) and (max-width: 768px) {
    /* nav menu bar responsive start */
    nav {
        box-shadow: none;
    }
    .navbar {
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    /* nav menu bar responsive end */

    /* banner responsive start */
    .banner {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-content {
        background-position: center bottom;
        background-size: 800px 280px;
    }

    /* banner responsive end */

    /* online section style start */
    .four-img {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
     }
     .online-title h1 {
         font-size: 1.4rem;
         font-weight: 800;
     }
     .four-img {
         width: 76%;
         margin: auto;
     }
     .online-title p{
         padding: 0 5px;
     }
     /* online section style end */
}
